body{
    background: black;
}
.content{
    width:800px;
    min-height: 800px;
    margin:20px auto;
    border:1px solid white;
}
.headerLogo{
    background: url(images/headerLogo\ \(1\).gif) no-repeat;
    width:100%;
    height:100px;
}
.menu{
    background: url(images/MenuBG.gif);
    width: 100%;
    height: 40px;
}
.menu ul li{
    float:left;
}
.menu ul li a{
    width: 80px;
    height:30px;
    display:block;
    text-decoration: none;
    font-size:15px;
    font-family:tahoma;
    color:white;
    text-align: center;
    margin-top: 5px;
    margin-left: 20px;
}
.menu ul li a:hover{
    background-image: url(images/tringleIcon.gif);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 5px;
}
.container1{
    width: 100%;
    height: 300px;
    background-color: white;
}
.inner1{
    background: url(images/checked.gif) no-repeat;
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-family: tahoma;
    float:left;
    color:blue;
    margin-top: 30px;
    margin-left: 20px;
    padding-left: 35px;
}
.freeWord{
    font-size: 25px;
    color:red;
    font-weight: bold;
}
.inner2{
    width: 450px;
    height: 150px;
    border:1px solid;
    text-align: justify;
    float: left;
    padding: 20px;
    font-size: 15px;
    font-family: tahoma;
    margin-left: 30px;
    background-color: wheat;
    border-radius: 10px;
}
button{
    width: 85px;
    height: 35px;
    border-radius: 10px;
    color:white;
    background-color: brown;
    margin:20px 0px 0px 300px;
}
.bookImage{
    width: 200px;
    height: 250px;
    background: url(images/Book.gif) no-repeat;
    float: left;
    margin-left: 70px;
    margin-top: -50px;
}
.container2{
    width: 760px;
    height: 250px;
    padding:10px 10px 0 30px;
    background-color: white;
}
.inner3{
    width: 350px;
    height: 200px;
    float: left;
}
.mainfeatures{
    font-weight: bold;
    color:blue;
    font-family: tahoma;
    font-size: 20px;
}
.inner3 ul li{
    display:block;
    width: 370px;
    height: 20px;
    font-size: 15px;
    font-family: tahoma;
    text-align: justify;
    background: url(images/checked.gif) no-repeat left;
    margin: 10px 0 0  15px;
    padding-left: 30px;
}
.inner4{
    width: 280px;
    height: 150px;
    float: left;
    margin-top: 10px;
    margin-left: 90px;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 15px;
    font-family: tahoma;
    font-weight: bold;
    border-radius: 20px;
    background-color: wheat;
}
.loginWord{
    font-size: 20px;
}
.container3{
    width:100%;
    height: 300px;
    background-color: white;
}
.inner5{
    width: 450px;
    height: 300px;
    float:left;
    padding-top: 10px;
    padding-left: 30px;

}
.inner5 ul li{
    display: block;
    font:15px tahoma;
    text-align: justify;
    height: 100px;
    width: 320px;
    margin-top: 10px;
    margin-left: 15px;
    background: url(images/ul_liIcon.gif) left no-repeat;
    padding-left: 60px;

}
.footer{
    width: 100%;
    height: 50px;
}
.footer1{
    width: 600px;
    height: 50px;
    float: left;
    /* border: 1px solid  white; */
}

.footer1 ul li{
    list-style: none;
    float: left;
}
.footer1 ul li a{
display: block;
width: 80px;
height: 30px;
text-decoration: none;
font:12px tahoma;
text-align: center;
color: gray;
}
/* .footer2{
    width: 200px;
    height: 30px;
    float: left;
    background: url(images/FooterBG.gif) no-repeat right;
    border: 1px solid  white;
} */